<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} | {{author}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/light-bulb.png">
        <script src="/js/footer.js" defer></script>
        <script src="/js/clock.js" defer></script>
        <script src="/js/main.js" defer></script>
    </head>
    <body>
    <div class="main-content">
        {{>header}}
            <section class="content">
                {{error}}
            </section>
    </div>
    {{>footer}}
    </body>
</html>


