<div class="content-wrap">
    <h2>Let's keep in touch!</h2>
    <div class="contact-info">
        <a href="mailto:christopherlampert14@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i><span class="sr-only">Send an email to Christopher</span></a>
        <a href="https://twitter.com/nevertrustadev" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Christopher Lampert's Twitter page</span></a>
        <a href="https://www.linkedin.com/in/christopherjameslampert/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i><span class="sr-only">Christopher Lampert's LinkedIn page</span></a>
        <a href="https://www.facebook.com/Lamps14" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i><span class="sr-only">Christopher Lampert's Facebook page</span></a>
        <div id="date" aria-hidden="true"></div>
        <div id="time" aria-hidden="true"></div>
    </div>
</div>