<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} | {{author}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/light-bulb.png">
        <script src="/js/footer.js" defer></script>
        <script src="/js/clock.js" defer></script>
        <script src="/js/main.js" defer></script>
    </head>
    <body>
        <div class="main-content  outer-wrap">
            {{>header}}
            <section class="content layer2">
                <div class="content-wrap">
                    <h2>About Me</h2>
                    <p>As a Tester I focus on the user experience and making the web accessible for everyone.</p>
                    <p>As an Agile Evangelist I focus on improving throughput of my teams and promote a varied way of working with colleagues</p>
                </div>
            </section>
        </div>
        {{>footer}}
    </body>
</html>