<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{title}} | {{author}}</title>
        <script src="https://use.fontawesome.com/3be7d72728.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Neucha" rel="stylesheet">
        <script src="../node_modules/focus-visible/dist/focus-visible.min.js" defer></script>
        <script src="../node_modules/wicg-inert/dist/inert.min.js" defer></script>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/footer.js" defer></script>
        <script src="/js/clock.js" defer></script>
        <script src="/js/main.js" defer></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <main role="main">
                <p>As a Tester I focus on the user experience and making the web accessible for everyone.</p>
                <p>As an Agile Evangelist I focus on improving throughput of my teams and promote a varied way of working with colleagues</p>
            </main>
        </div>
        {{>footer}}
    </body>

</html>