<footer role="contentinfo" id="footer">
    <div class="content-wrap footer-content-wrap header-footer" >
        <div class="contact-info">
            <div id="date" aria-hidden="true"></div>
            <div id="time" aria-hidden="true"></div>
        </div>
    </div>
    <a class="credit" target="_blank" href="https://icons8.com/icons/set/innovation">Innovation icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</footer>
