<footer role="contentinfo" id="contact">
    <div class="content-wrap footer-content-wrap">
        <div class="contact-info">
            <div id="date" aria-hidden="true"></div>
            <div id="time" aria-hidden="true"></div>
        </div>
    </div>
</footer>