<header role="banner" id="about">
    <div class="content-wrap header-content-wrap">
        <div class="col-wide">
            <h1>{{author}}</h1>
            <h2>{{job}}</h2>
            <nav>
                <ul>
                    <li><a class="nav-link" href="/">About</a></li>
                    <li><a class="nav-link" href="/work">Work Experience</a></li>
                    <li><a class="nav-link" href="/education">Education</a></li>
                    <li><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <img src="/img/download.png" alt="Professional image of {{author}}" class="profile-image">
    </div>
</header>